<div>
{{#with main}}
<main>
    <section>
      {{>title data="My education" big=true}}
        <ol>
            {{#each educations}}
            <li>{{name}}
                {{#unless isEnd}}(ще в процесі){{/unless}}
            </li>
            {{/each}}
        </ol>
    </section>
    <section>
    {{>title data="My certificates"}}
        <ul>
            {{#each certificates}}
            <li>{{name}}
            ({{id}})
            </li>
            {{/each}}
        </ul>
    </section>
</main>
{{/with}}
</div>